
/* this is the css for the banner at the top*/
.banner{
	
	margin: 0 0 0 -8;
	padding: 0;
	top: 0;
	width:102.2%;
	height:175;
}

body{
	margin-top: 0px;
	background-color:#ffa1aa;
}

/*start of the nav bar css*/
ul {
  list-style-type: none;
  margin: 0 0 0 -8;
  padding: 0;
  overflow: hidden;
  background-color: #bd2f3d;
  width:102.2%;
  top: 0;
}

li {
  float: left;
}

/*drop down*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #63000a;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	color: #737373;
	}

.dropdown:hover .dropdown-content {
  display: block;
}

.active{
	background-color:#63000a;
}

.description {
  padding: 20px;
}

.videoStyle {
  float: left;
  width: 10%;
}

.video{
	padding:5;
}

.text{
	float:left;
	width:55%;
}




